#rmvbtn {
  background-color: royalblue;
  margin: 3px;
  color: rgb(213, 213, 213);
  height: 30px;
}
#cmpbtn {
  background-color: royalblue;
  margin-left: 3px;
  margin-right: 3px;
  color: rgb(213, 213, 213);
  height: 30px;
}

#list_p {
  color: #ff0000;
}

#list_id {
  display: flex;
  align-items: center;
  align-content: center;
}
